/* ServicesHome.module.css */

/* Style for the Service Home container */
.contain {
    margin-top: 130px;
    margin-bottom: 130px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

/* Heading styles */
.heading {
    font-size: 30px;
    color: #000000;
    font-weight: 500;
}

/* Subheading styles */
.subHeading {
    font-size: 34px;
    font-weight: bold;
    color: #222a41;
    width: 645px;
    margin-top: 30px;
    text-align: center;
}

/* Container for individual service items */
.serviceItem {
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 15px;
}

.serviceItem:hover {
    background-color: #4CAF50; /* Green background on hover */
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.icon {
    font-size: 50px;
    color: #4CAF50; /* Green color for icons */
}

/* Arrow icon styles */
.arrowIcon {
    font-size: 30px;
    color: #4CAF50; /* Green color for the arrow */
    transition: color 0.3s ease;
}

.arrowIcon:hover {
    color: #ffffff; /* Change color on hover */
}

.link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #4CAF50;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ffffff; /* White color on hover */
}

/* Responsive design */
@media screen and (max-width: 1200px) {
    .contain {
        margin-top: 80px;
        margin-bottom: 80px;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media screen and (max-width: 770px) {
    .subHeading {
        font-size: 25px;
        width: auto;
    }
    .heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 430px) {
    .subHeading {
        font-size: 20px;
    }
    .heading {
        font-size: 17px;
    }
    .contain {
        margin-top: 80px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 380px) {
    .contain {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
